<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1" name="viewport" />

<title>
	{{page.title}}
</title>

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">

<!--
 ________ ___  ___  ________  ___  __            ________  _______   ________
|\  _____\\  \|\  \|\   ____\|\  \|\  \         |\   ____\|\  ___ \ |\   __  \
\ \  \__/\ \  \\\  \ \  \___|\ \  \/  /|_       \ \  \___|\ \   __/|\ \  \|\  \
 \ \   __\\ \  \\\  \ \  \    \ \   ___  \       \ \_____  \ \  \_|/_\ \  \\\  \
  \ \  \_| \ \  \\\  \ \  \____\ \  \\ \  \       \|____|\  \ \  \_|\ \ \  \\\  \
   \ \__\   \ \_______\ \_______\ \__\\ \__\        ____\_\  \ \_______\ \_______\
    \|__|    \|_______|\|_______|\|__| \|__|       |\_________\|_______|\|_______|
-->
